.worksBlock {
    min-height: 100%;
    background-color: #cd396d;
}

.worksContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}

.title {
    background-color: rgba(102, 81, 68, 0.91);
}

.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
    box-sizing: border-box;
}

@media screen and (max-width: 630px) {
    .works {
        justify-content: center;
    }
}