.contactBlock {
    height: 100%;
    background-color: #39cda3;
}

.contact {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: rgba(102, 81, 68, 0.91);
}

.formgroup {
    /*background-color: #5f3da7;*/
    /*border: 1px solid;*/
    /*width: 280px;*/
    /*height: 90px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    /*flex-wrap: wrap;*/
    /*margin-bottom: 20px;*/
    width: 50%;
    background-color: #5f3da7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formgroup input, .formgroup textarea {
    width: 100%;
}

.submitBtn {
    padding: 10px 20px;
}
