.skill {
    background-color: navajowhite;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: darkkhaki;
}