.skillsBlock {
    min-height: 100vh;
    background-color: #976d6d;
    padding: 25px;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: rgba(102, 81, 68, 0.91);
}

.skills {
    border: 1px solid;
    width: 100%;
    background-color: darkolivegreen;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;

}