.skillsBlock {
    min-height: 100%;
    background-color: #976d6d;
    padding:  50px 0 0;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: rgba(102, 81, 68, 0.91);
}

.skills {
    border: 1px solid;
    width: 100%;
    background-color: darkolivegreen;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}

@media screen and (max-width: 949px) {
    .skills {
        justify-content: center;
    }
}